.white{

    color: greenyellow;
}

.tiny-image{
    height: 50px;
    width: 40px;
    border-radius: 5px;

}

.main-page-image{
    height: 50px;
    width: 40px;
    border-radius: 5px;

}
.MuiButton-root{
    border-radius: 5px;



}