.btn-primary.override-bs {
    background-color: #a90dfd;
    border-color: #fd0d51;
    border-width: 10px;
    border-radius: 20px;
    border-style: dashed;
    font-size: 2em;
    font-weight: bolder;
}


<h2>Simple icons</h2>
<i class="fa fa-cog"></i>
<i class="fa fa-heart"></i>
<i class="fa fa-share"></i>
<i class="fa fa-comment"></i><br/>
<i class="fa fa-image"></i>
<i class="fa fa-chart-bar"></i>
<i class="fa fa-calendar"></i>
<i class="fa fa-smile"></i>

<h2>Resizing icons</h2>
<i class="fa fa-cog fa-2x"></i>
<i class="fa fa-heart fa-2x"></i>
<i class="fa fa-share fa-3x"></i>
<i class="fa fa-comment fa-3x"></i><br/>
<i class="fa fa-image fa-3x"></i>
<i class="fa fa-chart-bar fa-4x"></i>
<i class="fa fa-calendar" style="font-size: 5em"></i>
<i class="fa fa-smile" style="font-size: 3.5em"></i>

<h2>Coloring icons</h2>
<i class="fa fa-cog fa-2x" style="color: tomato"></i>
<i class="fa fa-heart fa-2x" style="color: tomato"></i>
<i class="fa fa-share fa-3x" style="color: #5ec15b"></i><br/>
<i class="fa fa-comment fa-3x" style="color: #19d49e"></i>
<i class="fa fa-image fa-3x" style="color: rgb(234,123,12)"></i>
<i class="fa fa-chart-bar fa-4x" style="color: rgb(123,234,123)"></i>

<h2>Brand icons</h2>
<i class="fab fa-twitter fa-2x"></i><br/>
<i class="fab fa-facebook fa-2x"></i><br/>
<i class="fab fa-apple fa-2x"></i><br/>

<h2>Stacking icons</h2>
<span class="fa-stack fa-2x">
  <i class="fas fa-square fa-stack-2x"></i>
  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
</span><br/>
<span class="fa-stack fa-2x">
  <i class="fas fa-circle fa-stack-2x"></i>
  <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
</span><br/>
<span class="fa-stack fa-2x">
  <i class="fas fa-camera fa-stack-1x"></i>
  <i class="fas fa-ban fa-stack-2x" style="color:Tomato"></i>
</span><br/>

<h2>Rotating icons</h2>
<div class="fa-4x">
    <i class="fas fa-snowboarding"></i>
    <i class="fas fa-snowboarding fa-rotate-90"></i>
    <i class="fas fa-snowboarding fa-rotate-180"></i><br/>
    <i class="fas fa-snowboarding fa-rotate-270"></i>
    <i class="fas fa-snowboarding fa-flip-horizontal"></i>
    <i class="fas fa-snowboarding fa-flip-vertical"></i><br/>
    <i class="fas fa-snowboarding fa-flip-both"></i><br/>
</div>

<h2>Animating icons</h2>
<div class="fa-3x">
    <i class="fas fa-spinner fa-spin"></i>
    <i class="fas fa-circle-notch fa-spin"></i>
    <i class="fas fa-sync fa-spin"></i><br/>
    <i class="fas fa-cog fa-spin"></i>
    <i class="fas fa-spinner fa-pulse"></i>
    <i class="fas fa-stroopwafel fa-spin"></i>
</div>


<h2>Hiding and showing responsive content</h2>
<div class="d-block d-sm-none fa-2x">XS</div>
<div class="d-none d-sm-block d-md-none fa-2x">S</div>
<div class="d-none d-md-block d-lg-none fa-2x">M</div>
<div class="d-none d-lg-block d-xl-none fa-2x">L</div>
<div class="d-none d-xl-block d-xxl-none fa-2x">XL</div>
<div class="d-none d-xxl-block fa-2x">XXL</div>

.rounded-corners{
    border-radius: 20px;
    width: 30px;

}