.btn-primary.override-bs {
    background-color: black;
    text-color: white;
    border-radius: 20px;
    float: right;
    height: 50px;
}

.nav-tabs.override{
    color:white;
    border:solid ;



}


/*override to make bg black in cols*/
.list-group-item{
    background-color: black;

}
.search-bar{
    border-radius: 60px;
    width:         500px;
    padding-left: 35px;
    background-color: gray;
    placeholder-color: white;
}

.icon-padding{
    padding: 20px;

}

::placeholder {
  color: white;
  opacity: 1;
}

.button-override{
    background-color: white;
    font-color: black;
}
.white{
    color: white;
    text: white;
}

.bg-color{
    background-color: black;

}

.bg-color2{
    background-color: rgb(40,40,40)

}

.main-image{
    height: 300px;
    width: 580px;
}

.image-text{
    color: white;
    font-weight: bold;
    font-size: 30px;
    bottom: 0px;
    left:15px;
}

.tiny-image{
    height: 50px;
    width: 40px;
    border-radius: 5px;

}

.news-image{
    height: 150px;
    width: 150px;
    border-radius: 5px;

}

.rounded{
        border-radius: 5px;

}


.align{
vertical-align:middle;

.float-left{
    float: left;
}

.wrap{
min-width: 2000px;

}

}
.align-top{
    position: relative;
    top: 8px;
}

.align-left{
    position: relative;
    top:0px;
}

.svgWrapper{
  position:absolute;
  top:21px;
  left:15px;
}

.gray{
    color: gray;
}

.bold{
  font-weight: bold;
  display: inline-block;
  width: 100%;

}



.no-border{
    border-style: none;
}

.bold-only{
     font-weight: bold;

}

.display{
    display: inline-block;
}


.search-magni{
    left: 14px;
    margin-top: 6px;
}

.float-right{
    float: right;
}


